html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
    font-size: 62.5%
}

body {
  background-image: url("https://i.pinimg.com/originals/ec/eb/79/eceb7990b39fa62d4189f57f2076712f.png");
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
}

nav {
  background: radial-gradient(circle, rgba(230,157,255,1) 0%, rgba(154,221,241,1) 50%, rgba(104,144,213,1) 100%);
  font-size: 1.6rem;
  display: flex;
  justify-content: space-evenly;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Mansalva', cursive;
  font-size: 16px;
  color:rgb(59, 104, 88);
}

h1 {
  font-size: 3.6rem;
  font-family: 'Mountains of Christmas', cursive;
  color: white;
}
