html {
  box-sizing: border-box;
  cursor: url(../img/hammyBtn.png), auto;
  
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
    font-size: 62.5%
}

body {
  background-image: url("https://i.pinimg.com/originals/ec/eb/79/eceb7990b39fa62d4189f57f2076712f.png");
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  cursor: url(../img/hammyBtn.png), auto;
}

nav {
  grid-area: nav;
  background: radial-gradient(circle, rgba(230,157,255,1) 0%, rgba(154,221,241,1) 50%, rgba(104,144,213,1) 100%);
  font-size: 1.6rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 9px;
  padding-right: 9px;
  cursor: url(../img/hammyBtn.png), auto;
}

nav > a {
  grid-area: nav;
  font-size: 1.6rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 9px;
  padding-right: 9px;
  cursor: url(../img/hammyBtn.png), auto;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Gluten', cursive;
  font-size: 16px;
  color:rgb(147, 2, 17);
  cursor: url(../img/hammyBtn.png), auto;
}

h1 {
  font-size: 3.6rem;
  font-family: 'Mountains of Christmas', cursive;
  color: white;
}

h2 {
  color: #0790b6;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Gluten', cursive;
  font-size: 16px;
  color:rgb(147, 2, 17);
  cursor: url(../img/hammyBtn.png), auto;
}

button {
  display: inline-block;
  background-color: #a8e1d3;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #eeeeee;
  text-align: center;
  font-size: 14px;
  
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
button:hover {
  background-color: #9ec0d4;
}

